In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.webdriver.support.ui import Select   # seleccion de un dropdown
from selenium.common.exceptions import TimeoutException

import time

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')


import asyncio

from tqdm.notebook import tqdm
from joblib import Parallel, delayed
from unidecode import unidecode 
import concurrent.futures
import joblib
from joblib import Parallel, delayed

In [2]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

In [3]:
driver = webdriver.Chrome()

# Open the website
url = 'https://www.mundodeportivo.com/resultados/futbol/laliga'
driver.get(url)

In [4]:
aceptar = driver.find_element(By.XPATH, '//*[@id="didomi-notice-agree-button"]')

aceptar.click()

In [5]:
aceptar_1 = driver.find_element(By.XPATH, '//*[@id="gg-alert-buttons"]/a[2]')

aceptar_1.click()

In [6]:
equipos = driver.find_element(By.XPATH, '/html/body/header/div[5]/div[1]/div/div/ul/li[5]/a')

equipos.click()

In [7]:
dropdown = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[1]/div/div[2]')
dropdown.click()

In [8]:
fecha = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[1]/div/div[2]/div/a[2]')
fecha.click()

In [9]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[2]/td[2]/u/a')
plantilla.click()

In [10]:
# crea dos listas vacias
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    # iterable para coger todos los elementos de las tablas
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Almeria = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [11]:
def asignar_posicion(index):
    if 0 <= index < 4:
        return 'Portero'
    elif 4 <= index < 21:
        return 'Defensa'
    elif 21 <= index < 33:
        return 'Mediocentro'
    elif 33 <= index < 48:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Almeria['Posicion'] = Almeria.index.to_series().apply(asignar_posicion)

In [12]:
Almeria['Equipo'] = 'Almeria'

In [13]:
driver.back()

In [14]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[3]/td[2]/u/a')
plantilla.click()

In [15]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Atletic_club = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [16]:
def asignar_posicion(index):
    if 0 <= index < 6:
        return 'Portero'
    elif 6 <= index < 19:
        return 'Defensa'
    elif 20 <= index < 29:
        return 'Mediocentro'
    elif 30 <= index < 43:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Atletic_club['Posicion'] = Atletic_club.index.to_series().apply(asignar_posicion)

In [17]:
Atletic_club['Equipo'] = 'Atlhetic Club'

In [18]:
driver.back()

In [19]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[4]/td[2]/u/a')
plantilla.click()

In [20]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Atletico_de_madrid = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [21]:
def asignar_posicion(index):
    if 0 <= index < 7:
        return 'Portero'
    elif 7 <= index < 27:
        return 'Defensa'
    elif 27 <= index < 43:
        return 'Mediocentro'
    elif 43 <= index < 62:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Atletico_de_madrid['Posicion'] = Atletico_de_madrid.index.to_series().apply(asignar_posicion)

In [22]:
Atletico_de_madrid['Equipo'] = 'Atletico De Madrid'

In [23]:
driver.back()

In [24]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[5]/td[2]/u/a')
plantilla.click()

In [25]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Barcelona = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [26]:
def asignar_posicion(index):
    if 0 <= index < 6:
        return 'Portero'
    elif 6 <= index < 26:
        return 'Defensa'
    elif 26 <= index < 44:
        return 'Mediocentro'
    elif 44 <= index < 61:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Barcelona['Posicion'] = Barcelona.index.to_series().apply(asignar_posicion)
Barcelona['Equipo'] = 'Barcelona'

In [27]:
driver.back()

In [28]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[6]/td[2]/u/a')
plantilla.click()

In [29]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
celta_de_vigo = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [30]:
def asignar_posicion(index):
    if 0 <= index < 9:
        return 'Portero'
    elif 9 <= index < 26:
        return 'Defensa'
    elif 26 <= index < 41:
        return 'Mediocentro'
    elif 41 <= index < 56:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
celta_de_vigo['Posicion'] = celta_de_vigo.index.to_series().apply(asignar_posicion)
celta_de_vigo['Equipo'] = 'Celta De Vigo'

In [31]:
driver.back()

In [32]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[7]/td[2]/u/a')
plantilla.click()

In [33]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Cadiz = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [34]:
def asignar_posicion(index):
    if 0 <= index < 5:
        return 'Portero'
    elif 5 <= index < 21:
        return 'Defensa'
    elif 21 <= index < 38:
        return 'Mediocentro'
    elif 38 <= index < 54:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Cadiz['Posicion'] = Cadiz.index.to_series().apply(asignar_posicion)
Cadiz['Equipo'] = 'Cadiz'

In [35]:
driver.back()

In [36]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[8]/td[2]/u/a')
plantilla.click()

In [37]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Elche = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [38]:
def asignar_posicion(index):
    if 0 <= index < 6:
        return 'Portero'
    elif 6 <= index < 25:
        return 'Defensa'
    elif 25 <= index < 41:
        return 'Mediocentro'
    elif 41 <= index < 51:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Elche['Posicion'] = Elche.index.to_series().apply(asignar_posicion)
Elche['Equipo'] = 'Elche'

In [39]:
driver.back()

In [40]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[9]/td[2]/u/a')
plantilla.click()

In [41]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Español = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [42]:
def asignar_posicion(index):
    if 0 <= index < 6:
        return 'Portero'
    elif 6 <= index < 27:
        return 'Defensa'
    elif 27 <= index < 46:
        return 'Mediocentro'
    elif 46 <= index < 59:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Español['Posicion'] = Español.index.to_series().apply(asignar_posicion)
Español['Equipo'] = 'Español'

In [43]:
driver.back()

In [44]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[10]/td[2]/u/a')
plantilla.click()

In [45]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Getafe = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [46]:
def asignar_posicion(index):
    if 0 <= index < 5:
        return 'Portero'
    elif 5 <= index < 27:
        return 'Defensa'
    elif 27 <= index < 46:
        return 'Mediocentro'
    elif 46 <= index < 56:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Getafe['Posicion'] = Getafe.index.to_series().apply(asignar_posicion)
Getafe['Equipo'] = 'Getafe'

In [47]:
driver.back()

In [48]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[11]/td[2]/u/a')
plantilla.click()

In [49]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Girona = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [50]:
def asignar_posicion(index):
    if 0 <= index < 6:
        return 'Portero'
    elif 6 <= index < 20:
        return 'Defensa'
    elif 20 <= index < 42:
        return 'Mediocentro'
    elif 42 <= index < 52:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Girona['Posicion'] = Girona.index.to_series().apply(asignar_posicion)
Girona['Equipo'] = 'Girona'

In [51]:
driver.back()

In [52]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[12]/td[2]/u/a')
plantilla.click()

In [53]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Mallorca = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [54]:
def asignar_posicion(index):
    if 0 <= index < 7:
        return 'Portero'
    elif 7 <= index < 23:
        return 'Defensa'
    elif 23 <= index < 37:
        return 'Mediocentro'
    elif 37 <= index < 48:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Mallorca['Posicion'] = Mallorca.index.to_series().apply(asignar_posicion)
Mallorca['Equipo'] = 'Mallorca'

In [55]:
driver.back()

In [56]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[13]/td[2]/u/a')
plantilla.click()

In [57]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Osasuna = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [58]:
def asignar_posicion(index):
    if 0 <= index < 5:
        return 'Portero'
    elif 5 <= index < 19:
        return 'Defensa'
    elif 19 <= index < 30:
        return 'Mediocentro'
    elif 30 <= index < 37:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Osasuna['Posicion'] = Osasuna.index.to_series().apply(asignar_posicion)
Osasuna['Equipo'] = 'Osasuna'

In [59]:
driver.back()

In [60]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[14]/td[2]/u/a')
plantilla.click()

In [61]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Rayo_vallenaco = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [62]:
def asignar_posicion(index):
    if 0 <= index < 5:
        return 'Portero'
    elif 5 <= index < 19:
        return 'Defensa'
    elif 19 <= index < 33:
        return 'Mediocentro'
    elif 33 <= index < 44:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Rayo_vallenaco['Posicion'] = Rayo_vallenaco.index.to_series().apply(asignar_posicion)
Rayo_vallenaco['Equipo'] = 'Rayo Vallenaco'

In [63]:
driver.back()

In [64]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[15]/td[2]/u/a')
plantilla.click()

In [65]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Real_betis = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [66]:
def asignar_posicion(index):
    if 0 <= index < 7:
        return 'Portero'
    elif 7 <= index < 22:
        return 'Defensa'
    elif 22 <= index < 36:
        return 'Mediocentro'
    elif 36 <= index < 46:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Real_betis['Posicion'] = Real_betis.index.to_series().apply(asignar_posicion)
Real_betis['Equipo'] = 'Real Betis'

In [67]:
driver.back()

In [68]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[16]/td[2]/u/a')
plantilla.click()

In [69]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Real_madrid = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [70]:
def asignar_posicion(index):
    if 0 <= index < 10:
        return 'Portero'
    elif 10 <= index < 27:
        return 'Defensa'
    elif 27 <= index < 44:
        return 'Mediocentro'
    elif 44 <= index < 55:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Real_madrid['Posicion'] = Real_madrid.index.to_series().apply(asignar_posicion)
Real_madrid['Equipo'] = 'Real Madrid'

In [71]:
driver.back()

In [72]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[17]/td[2]/u/a')
plantilla.click()

In [73]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Real_sociedad = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [74]:
def asignar_posicion(index):
    if 0 <= index < 6:
        return 'Portero'
    elif 6 <= index < 20:
        return 'Defensa'
    elif 20 <= index < 37:
        return 'Mediocentro'
    elif 37 <= index < 50:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Real_sociedad['Posicion'] = Real_sociedad.index.to_series().apply(asignar_posicion)
Real_sociedad['Equipo'] = 'Real Sociedad'

In [75]:
driver.back()

In [76]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[18]/td[2]/u/a')
plantilla.click()

In [77]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Real_valladolid = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [78]:
def asignar_posicion(index):
    if 0 <= index < 6:
        return 'Portero'
    elif 6 <= index < 23:
        return 'Defensa'
    elif 23 <= index < 46:
        return 'Mediocentro'
    elif 46 <= index < 63:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Real_valladolid['Posicion'] = Real_valladolid.index.to_series().apply(asignar_posicion)
Real_valladolid['Equipo'] = 'Real Valladolid'

In [79]:
driver.back()

In [80]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[19]/td[2]/u/a')
plantilla.click()

In [81]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Sevilla = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [82]:
def asignar_posicion(index):
    if 0 <= index < 8:
        return 'Portero'
    elif 8 <= index < 25:
        return 'Defensa'
    elif 25 <= index < 46:
        return 'Mediocentro'
    elif 46 <= index < 55:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Sevilla['Posicion'] = Sevilla.index.to_series().apply(asignar_posicion)
Sevilla['Equipo'] = 'Sevilla'

In [83]:
driver.back()

In [84]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[20]/td[2]/u/a')
plantilla.click()

In [85]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Valencia_cf = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [86]:
def asignar_posicion(index):
    if 0 <= index < 7:
        return 'Portero'
    elif 7 <= index < 24:
        return 'Defensa'
    elif 24 <= index < 42:
        return 'Mediocentro'
    elif 42 <= index < 51:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Valencia_cf['Posicion'] = Valencia_cf.index.to_series().apply(asignar_posicion)
Valencia_cf['Equipo'] = 'Valencia Cf'

In [87]:
driver.back()

In [88]:
plantilla = driver.find_element(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/table/tbody/tr[21]/td[2]/u/a')
plantilla.click()

In [89]:
data_numbers = []
data_titles = []

# Obtener los elementos con las clases data__number y data__title
elements_data_number = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__number")]')
elements_data_title = driver.find_elements(By.XPATH, '//*[@id="main-container"]/div[3]/div/div[1]//*[contains(@class, "data__title")]')

# Verificar que la cantidad de elementos sea la misma para ambos tipos
if len(elements_data_number) == len(elements_data_title):
    for i in range(len(elements_data_number)):
        data_numbers.append(elements_data_number[i].text)
        data_titles.append(elements_data_title[i].text)
else:
    print("La cantidad de elementos data__number y data__title no coincide.")

# Crear un DataFrame con la información
Villareal = pd.DataFrame({'Data_Number': data_numbers, 'Data_Title': data_titles})

In [90]:
def asignar_posicion(index):
    if 0 <= index < 5:
        return 'Portero'
    elif 5 <= index < 22:
        return 'Defensa'
    elif 22 <= index < 41:
        return 'Mediocentro'
    elif 41 <= index < 54:
        return 'Delantero'
    else:
        return 'Desconocido'

# Aplicar la función a la nueva columna 'Posicion'
Villareal['Posicion'] = Villareal.index.to_series().apply(asignar_posicion)
Villareal['Equipo'] = 'Villareal'

In [91]:
jugadores = [Almeria, Atletic_club, Atletico_de_madrid , Barcelona,celta_de_vigo ,Cadiz ,Elche ,Español ,Getafe , Girona, Mallorca, Osasuna, Rayo_vallenaco, Real_betis, Real_madrid, Real_sociedad ,Real_valladolid , Sevilla, Valencia_cf , Villareal]

In [92]:
jugadores = pd.concat(jugadores, ignore_index=True)

In [93]:
jugadores.head()

  Data_Number         Data_Title Posicion   Equipo
0          25        Diego Fuoli  Portero  Almeria
1           1       Diego Mariño  Portero  Almeria
2          13  Fernando Martínez  Portero  Almeria
3           1   Giorgi Makaridze  Portero  Almeria
4           2       Aitor Buñuel  Defensa  Almeria

In [94]:
driver.back()

In [95]:
jugadores['Data_Title'] = jugadores['Data_Title'].apply(unidecode)

In [96]:
jugadores.head()

  Data_Number         Data_Title Posicion   Equipo
0          25        Diego Fuoli  Portero  Almeria
1           1       Diego Marino  Portero  Almeria
2          13  Fernando Martinez  Portero  Almeria
3           1   Giorgi Makaridze  Portero  Almeria
4           2       Aitor Bunuel  Defensa  Almeria

In [97]:
driver = webdriver.Chrome()
urls_equipos = [
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/almeria/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/athletic-club/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/atletico-de-madrid/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/barcelona/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/celta-de-vigo/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/cadiz/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/elche/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/espanyol/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/getafe/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/girona/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/mallorca/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/osasuna/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/rayo-vallecano/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/real-betis/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/real-madrid/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/real-sociedad/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/real-valladolid/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/sevilla/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/valencia-cf/estadisticas/2022-2023",
    "https://www.mundodeportivo.com/resultados/futbol/laliga/equipo/villarreal/estadisticas/2022-2023"
    # Agrega más URLs según sea necesario
]
for i in urls_equipos:
 # Acceder a la página web del equipo
    driver.get(i)
boton_xpath = '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/div[1]/div/a'
boton_elemento = driver.find_element(By.XPATH, boton_xpath)
boton_elemento.click()

In [98]:
 driver.quit()

In [99]:
def obtener_datos_equipo(url):
    try:
        # Inicializar el driver de Chrome
        driver = webdriver.Chrome()

        # Acceder a la página web del equipo
        driver.get(url)

        # Hacer clic en el botón con el xpath proporcionado
        boton_xpath = '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/div[1]/div/a'
        boton_elemento = driver.find_element(By.XPATH, boton_xpath)
        boton_elemento.click()

        # Encontrar la tabla y extraer los datos
        tabla_xpath = '//div[3]/div/div[1]/div[2]/div[1]/div/table/tbody'
        tabla_elemento = driver.find_element(By.XPATH, tabla_xpath)
        columna1 = []
        columna2 = []
        columna_imagen = []
        
        filas = tabla_elemento.find_elements(By.TAG_NAME, "tr")
        
        for fila in filas[1:]:  # Exclude the first row (index 0)
            # Obtener datos de la primera columna
            dato_columna1_xpath = './/td[1]/div/div[2]/p/a'
            try:
                dato_columna1 = fila.find_element(By.XPATH, dato_columna1_xpath).text
                columna1.append(dato_columna1)
            except Exception as e:
                print(f"Error obteniendo Columna1: {e}")
                columna1.append(None)

            # Obtener datos de la segunda columna
            dato_columna2_xpath = './/td[2]'
            try:
                dato_columna2 = fila.find_element(By.XPATH, dato_columna2_xpath).text
                columna2.append(dato_columna2)
            except Exception as e:
                print(f"Error obteniendo Columna2: {e}")
                columna2.append(None)

            # Obtener datos de la columna de la imagen
            image_element_xpath = './/td[1]/div/a/img'
            try:
                image_element = fila.find_element(By.XPATH, image_element_xpath)
                alt_text = image_element.get_attribute("alt")
                columna_imagen.append(alt_text)
            except Exception as e:
                print(f"Error obteniendo ColumnaImagen: {e}")
                columna_imagen.append(None)

        # Crear un DataFrame con los datos recopilados
        data = {'Columna1': columna1, 'Columna2': columna2, 'ColumnaImagen': columna_imagen}
        df = pd.DataFrame(data)

        return df  # Devolver el DataFrame

    except Exception as e:
        print(f"Error al procesar la URL {url}: {e}")
        return None
    finally:
        driver.quit()  # Asegúrate de cerrar el driver en todos los casos

# Lista para almacenar los resultados de cada URL
resultados = Parallel(n_jobs=-1)(
    delayed(obtener_datos_equipo)(url) for url in urls_equipos
)

# Filtrar los DataFrames no vacíos antes de concatenar
resultados_filtrados = [df.iloc[0:] for df in resultados if df is not None]

# Concatenar todos los DataFrames en uno solo
goleadores = pd.concat(resultados_filtrados, ignore_index=True)
goleadores.head()

         Columna1 Columna2   ColumnaImagen
0  El Bilal Touré        7  Escudo Almería
1          Lázaro        6  Escudo Almería
2   Léo Baptistão        5  Escudo Almería
3    Adri Embarba        4  Escudo Almería
4     Luis Suárez        4  Escudo Almería

In [100]:
goleadores.head(500)

             Columna1 Columna2      ColumnaImagen
0      El Bilal Touré        7     Escudo Almería
1              Lázaro        6     Escudo Almería
2       Léo Baptistão        5     Escudo Almería
3        Adri Embarba        4     Escudo Almería
4         Luis Suárez        4     Escudo Almería
..                ...      ...                ...
252     Ramon Terrats        1  Escudo Villarreal
253        Pau Torres        1  Escudo Villarreal
254        Juan Foyth        1  Escudo Villarreal
255     Jorge Pascual        1  Escudo Villarreal
256  Francis Coquelin        1  Escudo Villarreal

[257 rows x 3 columns]

In [101]:
goleadores['Columna1'] = goleadores['Columna1'].apply(unidecode)

In [102]:
merged_df = jugadores.merge(goleadores, how='left', left_on='Data_Title', right_on='Columna1')

# Fill NaN values with 0 in the new column 'goles'
merged_df['goles'] = merged_df['Columna2'].fillna(0).astype(int)

# Drop unnecessary columns
merged_df.drop(['Columna1', 'Columna2'], axis=1, inplace=True)

In [103]:
jugadores.head()

  Data_Number         Data_Title Posicion   Equipo
0          25        Diego Fuoli  Portero  Almeria
1           1       Diego Marino  Portero  Almeria
2          13  Fernando Martinez  Portero  Almeria
3           1   Giorgi Makaridze  Portero  Almeria
4           2       Aitor Bunuel  Defensa  Almeria

In [104]:
merged_df.head(45)

,Data_Number,Data_Title,Posicion,Equipo,ColumnaImagen,goles
0,25,Diego Fuoli,Portero,Almeria,NaN,0
1,1,Diego Marino,Portero,Almeria,NaN,0
2,13,Fernando Martinez,Portero,Almeria,NaN,0
3,1,Giorgi Makaridze,Portero,Almeria,NaN,0
4,2,Aitor Bunuel,Defensa,Almeria,NaN,0
5,35,Aitor Punal,Defensa,Almeria,NaN,0
6,-,Arnau Sola,Defensa,Almeria,NaN,0
7,21,Chumi,Defensa,Almeria,Escudo Almería,1
8,29,Cuenca,Defensa,Almeria,NaN,0
9,23,Daniel Carrico,Defensa,Almeria,NaN,0
10,24,Houboulang Mendes,Defensa,Almeria,NaN,0
11,-,Ivan Martos,Defensa,Almeria,NaN,0
12,-,Jonathan,Defensa,Almeria,NaN,0
13,2,Kaiky,Defensa,Almeria,NaN,0
14,18,Nikola Maras,Defensa,Almeria,NaN,0
15,24,Nelson Monte,Defensa,Almeria,NaN,0
16,19,Rodrigo Ely,Defensa,Almeria,NaN,0
17,15,Sergio Akieme,Defensa,Almeria,Escudo Almería,1
18,22,Srdjan Babic,Defensa,Almeria,Escudo Almería,3
19,20,Alex Centelles,Defensa,Almeria,Escudo Almería,1
20,17,Alex Pozo,Defensa,Almeria,NaN,0
21,8,Arnau Puigmal,Mediocentro,Almeria,Escudo Almería,1
22,-,Cristian Olivera,Mediocentro,Almeria,NaN,0
23,6,Cesar de la Hoz,Mediocentro,Almeria,Escudo Almería,1
24,8,Francisco Portillo,Mediocentro,Almeria,Escudo Almería,2
25,11,Gonzalo Melero,Mediocentro,Almeria,Escudo Almería,4
26,28,Gui,Mediocentro,Almeria,NaN,0
27,5,Lucas Robertone,Mediocentro,Almeria,Escudo Almería,2
28,36,Mamadou Dialla Sylla,Mediocentro,Almeria,NaN,0
29,26,Marcos Pena,Mediocentro,Almeria,NaN,0
30,26,Martin Svidersky,Mediocentro,Almeria,NaN,0
31,23,Samu Costa,Mediocentro,Almeria,Escudo Almería,1
32,16,Inigo Eguaras,Mediocentro,Almeria,Escudo Almería,1
33,10,Adri Embarba,Delantero,Almeria,Escudo Almería,4
34,27,Arvin Appiah,Delantero,Almeria,NaN,0
35,37,Carlos Gilbert,Delantero,Almeria,NaN,0
36,33,Carlos Rojas,Delantero,Almeria,NaN,0
37,11,Dyego Sousa,Delantero,Almeria,NaN,0
38,9,El Bilal Toure,Delantero,Almeria,Escudo Almería,7
39,-,Jordi Escobar,Delantero,Almeria,NaN,0
40,7,Juan Villar,Delantero,Almeria,NaN,0
41,7,Largie Ramazani,Delantero,Almeria,Escudo Almería,3
42,16,Luis Suarez,Delantero,Almeria,Escudo Almería,4
43,14,Lazaro,Delantero,Almeria,Escudo Almería,6
44,12,Leo Baptistao,Delantero,Almeria,Escudo Almería,5

In [105]:
merged_df = merged_df.drop(['ColumnaImagen'], axis=1)

In [106]:
merged_df.head()

  Data_Number         Data_Title Posicion   Equipo  goles
0          25        Diego Fuoli  Portero  Almeria      0
1           1       Diego Marino  Portero  Almeria      0
2          13  Fernando Martinez  Portero  Almeria      0
3           1   Giorgi Makaridze  Portero  Almeria      0
4           2       Aitor Bunuel  Defensa  Almeria      0

In [107]:
def obtener_datos_equipo(url):
    try:
        # Inicializar el driver de Chrome
        driver = webdriver.Chrome()

        # Acceder a la página web del equipo
        driver.get(url)

        # Hacer clic en el botón con el xpath proporcionado
        boton_xpath = '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/div[2]/div/a'
        boton_elemento = driver.find_element(By.XPATH, boton_xpath)
        boton_elemento.click()

        # Encontrar la tabla y extraer los datos
        tabla_xpath = '//div[3]/div/div[1]/div[2]/div[2]/div/table/tbody'
        tabla_elemento = driver.find_element(By.XPATH, tabla_xpath)
        columna1 = []
        columna2 = []
        columna_imagen = []
        
        filas = tabla_elemento.find_elements(By.TAG_NAME, "tr")
        
        for fila in filas[1:]:  # Exclude the first row (index 0)
            # Obtener datos de la primera columna
            dato_columna1_xpath = './/td[1]/div/div[2]/p/a'
            try:
                dato_columna1 = fila.find_element(By.XPATH, dato_columna1_xpath).text
                columna1.append(dato_columna1)
            except Exception as e:
                print(f"Error obteniendo Columna1: {e}")
                columna1.append(None)

            # Obtener datos de la segunda columna
            dato_columna2_xpath = './/td[2]'
            try:
                dato_columna2 = fila.find_element(By.XPATH, dato_columna2_xpath).text
                columna2.append(dato_columna2)
            except Exception as e:
                print(f"Error obteniendo Columna2: {e}")
                columna2.append(None)

            # Obtener datos de la columna de la imagen
            image_element_xpath = './/td[1]/div/a/img'
            try:
                image_element = fila.find_element(By.XPATH, image_element_xpath)
                alt_text = image_element.get_attribute("alt")
                columna_imagen.append(alt_text)
            except Exception as e:
                print(f"Error obteniendo ColumnaImagen: {e}")
                columna_imagen.append(None)

        # Crear un DataFrame con los datos recopilados
        data = {'Columna1': columna1, 'Columna2': columna2, 'ColumnaImagen': columna_imagen}
        df = pd.DataFrame(data)

        return df  # Devolver el DataFrame

    except Exception as e:
        print(f"Error al procesar la URL {url}: {e}")
        return None
    finally:
        driver.quit()  # Asegúrate de cerrar el driver en todos los casos

# Lista para almacenar los resultados de cada URL
resultados = Parallel(n_jobs=-1)(
    delayed(obtener_datos_equipo)(url) for url in urls_equipos
)

# Filtrar los DataFrames no vacíos antes de concatenar
resultados_filtrados = [df.iloc[0:] for df in resultados if df is not None]

# Concatenar todos los DataFrames en uno solo
asistencias = pd.concat(resultados_filtrados, ignore_index=True)
asistencias.head(400)

            Columna1 Columna2      ColumnaImagen
0    Lucas Robertone        7     Escudo Almería
1        Luis Suárez        4     Escudo Almería
2       Adri Embarba        3     Escudo Almería
3     Gonzalo Melero        3     Escudo Almería
4          Álex Pozo        3     Escudo Almería
..               ...      ...                ...
247    Gerard Moreno        3  Escudo Villarreal
248    Ramon Terrats        1  Escudo Villarreal
249       Pepe Reina        1  Escudo Villarreal
250   Alberto Moreno        1  Escudo Villarreal
251   Manu Trigueros        1  Escudo Villarreal

[252 rows x 3 columns]

In [108]:
asistencias['Columna1'] = asistencias['Columna1'].apply(unidecode)

In [109]:
merged_df = merged_df.merge(asistencias, how='left', left_on='Data_Title', right_on='Columna1')

# Fill NaN values with 0 in the new column 'goles'
merged_df['asistencias'] = merged_df['Columna2'].fillna(0).astype(int)

# Drop unnecessary columns
merged_df.drop(['Columna1', 'Columna2'], axis=1, inplace=True)

In [110]:
merged_df = merged_df.drop(['ColumnaImagen'], axis=1)

In [111]:
def obtener_datos_equipo(url):
    try:
        # Inicializar el driver de Chrome
        driver = webdriver.Chrome()

        # Acceder a la página web del equipo
        driver.get(url)

        

        # Encontrar la tabla y extraer los datos
        tabla_xpath = '//div[3]/div/div[1]/div[2]/div[3]/div/table/tbody'
        tabla_elemento = driver.find_element(By.XPATH, tabla_xpath)
        columna1 = []
        columna2 = []
        columna_imagen = []
        
        filas = tabla_elemento.find_elements(By.TAG_NAME, "tr")
        
        for fila in filas[1:]:  # Exclude the first row (index 0)
            # Obtener datos de la primera columna
            dato_columna1_xpath = './/td[1]/div/div[2]/p/a'
            try:
                dato_columna1 = fila.find_element(By.XPATH, dato_columna1_xpath).text
                columna1.append(dato_columna1)
            except Exception as e:
                print(f"Error obteniendo Columna1: {e}")
                columna1.append(None)

            # Obtener datos de la segunda columna
            dato_columna2_xpath = './/td[2]'
            try:
                dato_columna2 = fila.find_element(By.XPATH, dato_columna2_xpath).text
                columna2.append(dato_columna2)
            except Exception as e:
                print(f"Error obteniendo Columna2: {e}")
                columna2.append(None)

            # Obtener datos de la columna de la imagen
            image_element_xpath = './/td[1]/div/a/img'
            try:
                image_element = fila.find_element(By.XPATH, image_element_xpath)
                alt_text = image_element.get_attribute("alt")
                columna_imagen.append(alt_text)
            except Exception as e:
                print(f"Error obteniendo ColumnaImagen: {e}")
                columna_imagen.append(None)

        # Crear un DataFrame con los datos recopilados
        data = {'Columna1': columna1, 'Columna2': columna2, 'ColumnaImagen': columna_imagen}
        df = pd.DataFrame(data)

        return df  # Devolver el DataFrame

    except Exception as e:
        print(f"Error al procesar la URL {url}: {e}")
        return None
    finally:
        driver.quit()  # Asegúrate de cerrar el driver en todos los casos

# Lista para almacenar los resultados de cada URL
resultados = Parallel(n_jobs=-1)(
    delayed(obtener_datos_equipo)(url) for url in urls_equipos
)

# Filtrar los DataFrames no vacíos antes de concatenar
resultados_filtrados = [df.iloc[0:] for df in resultados if df is not None]

# Concatenar todos los DataFrames en uno solo
goles_encajados = pd.concat(resultados_filtrados, ignore_index=True)
goles_encajados.head(400)

                 Columna1 Columna2              ColumnaImagen
0       Fernando Martínez       61             Escudo Almería
1            Diego Mariño        2             Escudo Almería
2              Unai Simón       37       Escudo Athletic Club
3      Julen Agirrezabala        6       Escudo Athletic Club
4               Jan Oblak       20  Escudo Atlético de Madrid
5               Ivo Grbic       12  Escudo Atlético de Madrid
6           Antonio Gomis        1  Escudo Atlético de Madrid
7   Marc-André ter Stegen       18           Escudo Barcelona
8              Iñaki Peña        2           Escudo Barcelona
9       Agustín Marchesín       29       Escudo Celta de Vigo
10            Iván Villar       24       Escudo Celta de Vigo
11          Conan Ledesma       48               Escudo Cádiz
12              David Gil        5               Escudo Cádiz
13            Edgar Badia       63               Escudo Elche
14            Axel Werner        4               Escudo Elche
15       Fernando Pacheco       35            Escudo Espanyol
16       Álvaro Fernández       18            Escudo Espanyol
17       Benjamin Lecomte       14            Escudo Espanyol
18            Joan García        3            Escudo Espanyol
19            David Soria       45              Escudo Getafe
20        Paulo Gazzaniga       37              Escudo Girona
21            Juan Carlos       18              Escudo Girona
22       Predrag Rajkovic       40            Escudo Mallorca
23          Dominik Greif        3            Escudo Mallorca
24         Sergio Herrera       23             Escudo Osasuna
25        Aitor Fernández       19             Escudo Osasuna
26     Stole Dimitrievski       49      Escudo Rayo Vallecano
27            Diego López        4      Escudo Rayo Vallecano
28              Rui Silva       32          Escudo Real Betis
29          Claudio Bravo        9          Escudo Real Betis
30       Thibaut Courtois       29         Escudo Real Madrid
31           Andriy Lunin        7         Escudo Real Madrid
32            Álex Remiro       35       Escudo Real Sociedad
33            Jordi Masip       42     Escudo Real Valladolid
34          Sergio Asenjo       21     Escudo Real Valladolid
35         Yassine Bounou       41             Escudo Sevilla
36        Marko Dmitrovic       13             Escudo Sevilla
37   Giorgi Mamardashvili       45         Escudo Valencia CF
38             Pepe Reina       27          Escudo Villarreal
39         Gerónimo Rulli       10          Escudo Villarreal
40        Filip Jørgensen        3          Escudo Villarreal

In [112]:
goles_encajados['Columna1'] = goles_encajados['Columna1'].apply(unidecode)

In [113]:
merged_df = merged_df.merge(goles_encajados, how='left', left_on='Data_Title', right_on='Columna1')

# Fill NaN values with 0 in the new column 'goles'
merged_df['goles_recibidos'] = merged_df['Columna2'].fillna(0).astype(int)

# Drop unnecessary columns
merged_df.drop(['Columna1', 'Columna2'], axis=1, inplace=True)
merged_df = merged_df.drop(['ColumnaImagen'], axis=1)

In [114]:
merged_df.head(997)

,Data_Number,Data_Title,Posicion,Equipo,goles,asistencias,goles_recibidos
0,25,Diego Fuoli,Portero,Almeria,0,0,0
1,1,Diego Marino,Portero,Almeria,0,0,2
2,13,Fernando Martinez,Portero,Almeria,0,0,61
3,1,Giorgi Makaridze,Portero,Almeria,0,0,0
4,2,Aitor Bunuel,Defensa,Almeria,0,0,0
...,...,...,...,...,...,...,...
992,13,Filip Jorgensen,Portero,Villareal,0,0,3
993,-,Gianni Cassaro,Portero,Villareal,0,0,0
994,31,Iker Alvarez,Portero,Villareal,0,0,0
995,1,Pepe Reina,Portero,Villareal,0,1,27
996,1,Sergio Asenjo,Portero,Villareal,0,0,21

In [115]:
def obtener_datos_equipo(url):
    try:
        # Inicializar el driver de Chrome
        driver = webdriver.Chrome()

        # Acceder a la página web del equipo
        driver.get(url)

        

        # Encontrar la tabla y extraer los datos
        tabla_xpath = '//div[3]/div/div[1]/div[2]/div[4]/div/table/tbody'
        tabla_elemento = driver.find_element(By.XPATH, tabla_xpath)
        columna1 = []
        columna2 = []
        columna_imagen = []
        
        filas = tabla_elemento.find_elements(By.TAG_NAME, "tr")
        
        for fila in filas[1:]:  # Exclude the first row (index 0)
            # Obtener datos de la primera columna
            dato_columna1_xpath = './/td[1]/div/div[2]/p/a'
            try:
                dato_columna1 = fila.find_element(By.XPATH, dato_columna1_xpath).text
                columna1.append(dato_columna1)
            except Exception as e:
                print(f"Error obteniendo Columna1: {e}")
                columna1.append(None)

            # Obtener datos de la segunda columna
            dato_columna2_xpath = './/td[2]'
            try:
                dato_columna2 = fila.find_element(By.XPATH, dato_columna2_xpath).text
                columna2.append(dato_columna2)
            except Exception as e:
                print(f"Error obteniendo Columna2: {e}")
                columna2.append(None)

            # Obtener datos de la columna de la imagen
            image_element_xpath = './/td[1]/div/a/img'
            try:
                image_element = fila.find_element(By.XPATH, image_element_xpath)
                alt_text = image_element.get_attribute("alt")
                columna_imagen.append(alt_text)
            except Exception as e:
                print(f"Error obteniendo ColumnaImagen: {e}")
                columna_imagen.append(None)

        # Crear un DataFrame con los datos recopilados
        data = {'Columna1': columna1, 'Columna2': columna2, 'ColumnaImagen': columna_imagen}
        df = pd.DataFrame(data)

        return df  # Devolver el DataFrame

    except Exception as e:
        print(f"Error al procesar la URL {url}: {e}")
        return None
    finally:
        driver.quit()  # Asegúrate de cerrar el driver en todos los casos

# Lista para almacenar los resultados de cada URL
resultados = Parallel(n_jobs=-1)(
    delayed(obtener_datos_equipo)(url) for url in urls_equipos
)

# Filtrar los DataFrames no vacíos antes de concatenar
resultados_filtrados = [df.iloc[0:] for df in resultados if df is not None]

# Concatenar todos los DataFrames en uno solo
paradas = pd.concat(resultados_filtrados, ignore_index=True)
paradas.head(400)

                 Columna1 Columna2              ColumnaImagen
0       Fernando Martínez      133             Escudo Almería
1            Diego Mariño        3             Escudo Almería
2              Unai Simón       70       Escudo Athletic Club
3      Julen Agirrezabala       13       Escudo Athletic Club
4               Jan Oblak       61  Escudo Atlético de Madrid
5               Ivo Grbic       36  Escudo Atlético de Madrid
6   Marc-André ter Stegen       84           Escudo Barcelona
7              Iñaki Peña        2           Escudo Barcelona
8       Agustín Marchesín       44       Escudo Celta de Vigo
9             Iván Villar       38       Escudo Celta de Vigo
10          Conan Ledesma      135               Escudo Cádiz
11              David Gil       18               Escudo Cádiz
12            Edgar Badia      139               Escudo Elche
13            Axel Werner        5               Escudo Elche
14       Fernando Pacheco       59            Escudo Espanyol
15       Álvaro Fernández       34            Escudo Espanyol
16       Benjamin Lecomte       29            Escudo Espanyol
17            Joan García        1            Escudo Espanyol
18            David Soria      124              Escudo Getafe
19        Paulo Gazzaniga       93              Escudo Girona
20            Juan Carlos       26              Escudo Girona
21       Predrag Rajkovic       94            Escudo Mallorca
22          Dominik Greif        5            Escudo Mallorca
23              Leo Román        4            Escudo Mallorca
24        Aitor Fernández       59             Escudo Osasuna
25         Sergio Herrera       49             Escudo Osasuna
26     Stole Dimitrievski       95      Escudo Rayo Vallecano
27            Diego López        1      Escudo Rayo Vallecano
28              Rui Silva       73          Escudo Real Betis
29          Claudio Bravo       35          Escudo Real Betis
30       Thibaut Courtois       89         Escudo Real Madrid
31           Andriy Lunin       12         Escudo Real Madrid
32            Álex Remiro      100       Escudo Real Sociedad
33            Jordi Masip      105     Escudo Real Valladolid
34          Sergio Asenjo       31     Escudo Real Valladolid
35          Álvaro Aceves        3     Escudo Real Valladolid
36         Yassine Bounou       67             Escudo Sevilla
37        Marko Dmitrovic       44             Escudo Sevilla
38   Giorgi Mamardashvili      105         Escudo Valencia CF
39             Pepe Reina       61          Escudo Villarreal
40         Gerónimo Rulli       46          Escudo Villarreal
41        Filip Jørgensen        3          Escudo Villarreal

In [116]:
paradas['Columna1'] = paradas['Columna1'].apply(unidecode)
merged_df = merged_df.merge(paradas, how='left', left_on='Data_Title', right_on='Columna1')

# Fill NaN values with 0 in the new column 'goles'
merged_df['paradas'] = merged_df['Columna2'].fillna(0).astype(int)

# Drop unnecessary columns
merged_df.drop(['Columna1', 'Columna2'], axis=1, inplace=True)
merged_df = merged_df.drop(['ColumnaImagen'], axis=1)

In [124]:
def obtener_datos_equipo(url):
    try:
        # Inicializar el driver de Chrome
        driver = webdriver.Chrome()

        # Acceder a la página web del equipo
        driver.get(url)

        # Hacer clic en el botón con el xpath proporcionado
        boton_xpath = '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/div[5]/div/a'
        boton_elemento = driver.find_element(By.XPATH, boton_xpath)
        boton_elemento.click()

        # Encontrar la tabla y extraer los datos
        tabla_xpath = '//div[3]/div/div[1]/div[2]/div[5]/div/table/tbody'
        tabla_elemento = driver.find_element(By.XPATH, tabla_xpath)
        columna1 = []
        columna2 = []
        columna_imagen = []
        
        filas = tabla_elemento.find_elements(By.TAG_NAME, "tr")
        
        for fila in filas[1:]:  # Exclude the first row (index 0)
            # Obtener datos de la primera columna
            dato_columna1_xpath = './/td[1]/div/div[2]/p/a'
            try:
                dato_columna1 = fila.find_element(By.XPATH, dato_columna1_xpath).text
                columna1.append(dato_columna1)
            except Exception as e:
                print(f"Error obteniendo Columna1: {e}")
                columna1.append(None)

            # Obtener datos de la segunda columna
            dato_columna2_xpath = './/td[2]'
            try:
                dato_columna2 = fila.find_element(By.XPATH, dato_columna2_xpath).text
                columna2.append(dato_columna2)
            except Exception as e:
                print(f"Error obteniendo Columna2: {e}")
                columna2.append(None)

            # Obtener datos de la columna de la imagen
            image_element_xpath = './/td[1]/div/a/img'
            try:
                image_element = fila.find_element(By.XPATH, image_element_xpath)
                alt_text = image_element.get_attribute("alt")
                columna_imagen.append(alt_text)
            except Exception as e:
                print(f"Error obteniendo ColumnaImagen: {e}")
                columna_imagen.append(None)

        # Crear un DataFrame con los datos recopilados
        data = {'Columna1': columna1, 'Columna2': columna2, 'ColumnaImagen': columna_imagen}
        df = pd.DataFrame(data)

        return df  # Devolver el DataFrame

    except Exception as e:
        print(f"Error al procesar la URL {url}: {e}")
        return None
    finally:
        driver.quit()  # Asegúrate de cerrar el driver en todos los casos

# Lista para almacenar los resultados de cada URL
resultados = Parallel(n_jobs=-1)(
    delayed(obtener_datos_equipo)(url) for url in urls_equipos
)

# Filtrar los DataFrames no vacíos antes de concatenar
resultados_filtrados = [df.iloc[0:] for df in resultados if df is not None]

# Concatenar todos los DataFrames en uno solo
tarjetas_amarillas = pd.concat(resultados_filtrados, ignore_index=True)
tarjetas_amarillas.head(400)

             Columna1 Columna2      ColumnaImagen
0         Rodrigo Ely        8     Escudo Almería
1       Léo Baptistão        7     Escudo Almería
2     Lucas Robertone        7     Escudo Almería
3     Largie Ramazani        6     Escudo Almería
4     César de la Hoz        6     Escudo Almería
..                ...      ...                ...
392    Manu Trigueros        2  Escudo Villarreal
393    Gerónimo Rulli        1  Escudo Villarreal
394     Ramon Terrats        1  Escudo Villarreal
395  Samuel Chukwueze        1  Escudo Villarreal
396       Aïssa Mandi        1  Escudo Villarreal

[397 rows x 3 columns]

In [125]:
tarjetas_amarillas['Columna1'] = tarjetas_amarillas['Columna1'].apply(unidecode)
merged_df = merged_df.merge(tarjetas_amarillas, how='left', left_on='Data_Title', right_on='Columna1')

# Fill NaN values with 0 in the new column 'goles'
merged_df['tarejtas_amarillas'] = merged_df['Columna2'].fillna(0).astype(int)

# Drop unnecessary columns
merged_df.drop(['Columna1', 'Columna2'], axis=1, inplace=True)
merged_df = merged_df.drop(['ColumnaImagen'], axis=1)

In [126]:
def obtener_datos_equipo(url):
    try:
        # Inicializar el driver de Chrome
        driver = webdriver.Chrome()

        # Acceder a la página web del equipo
        driver.get(url)

        # Hacer clic en el botón con el xpath proporcionado (try-except block)
        boton_xpath = '//*[@id="main-container"]/div[3]/div/div[1]/div[2]/div[6]/div/a'
        try:
            boton_elemento = driver.find_element(By.XPATH, boton_xpath)
            boton_elemento.click()
        except Exception as e:
            print(f"Error al hacer clic en el botón: {e}")

        # Encontrar la tabla y extraer los datos
        tabla_xpath = '//div[3]/div/div[1]/div[2]/div[6]/div/table/tbody'
        tabla_elemento = driver.find_element(By.XPATH, tabla_xpath)
        columna1 = []
        columna2 = []
        columna_imagen = []
        
        filas = tabla_elemento.find_elements(By.TAG_NAME, "tr")
        
        for fila in filas[1:]:  # Exclude the first row (index 0)
            # Obtener datos de la primera columna
            dato_columna1_xpath = './/td[1]/div/div[2]/p/a'
            try:
                dato_columna1 = fila.find_element(By.XPATH, dato_columna1_xpath).text
                columna1.append(dato_columna1)
            except Exception as e:
                print(f"Error obteniendo Columna1: {e}")
                columna1.append(None)

            # Obtener datos de la segunda columna
            dato_columna2_xpath = './/td[2]'
            try:
                dato_columna2 = fila.find_element(By.XPATH, dato_columna2_xpath).text
                columna2.append(dato_columna2)
            except Exception as e:
                print(f"Error obteniendo Columna2: {e}")
                columna2.append(None)

            # Obtener datos de la columna de la imagen
            image_element_xpath = './/td[1]/div/a/img'
            try:
                image_element = fila.find_element(By.XPATH, image_element_xpath)
                alt_text = image_element.get_attribute("alt")
                columna_imagen.append(alt_text)
            except Exception as e:
                print(f"Error obteniendo ColumnaImagen: {e}")
                columna_imagen.append(None)

        # Crear un DataFrame con los datos recopilados
        data = {'Columna1': columna1, 'Columna2': columna2, 'ColumnaImagen': columna_imagen}
        df = pd.DataFrame(data)

        return df  # Devolver el DataFrame

    except Exception as e:
        print(f"Error al procesar la URL {url}: {e}")
        return None
    finally:
        driver.quit()  # Asegúrate de cerrar el driver en todos los casos

# Lista para almacenar los resultados de cada URL
resultados = Parallel(n_jobs=-1)(
    delayed(obtener_datos_equipo)(url) for url in urls_equipos
)

# Filtrar los DataFrames no vacíos antes de concatenar
resultados_filtrados = [df.iloc[0:] for df in resultados if df is not None]

# Concatenar todos los DataFrames en uno solo
tarjetas_rojas = pd.concat(resultados_filtrados, ignore_index=True)
tarjetas_rojas.head(400)

             Columna1 Columna2         ColumnaImagen
0        Adri Embarba        1        Escudo Almería
1         Luis Suárez        1        Escudo Almería
2         Rodrigo Ely        1        Escudo Almería
3      Álex Centelles        1        Escudo Almería
4       Ander Herrera        1  Escudo Athletic Club
..                ...      ...                   ...
103      Marcos André        1    Escudo Valencia CF
104       Yunus Musah        1    Escudo Valencia CF
105  Mouctar Diakhaby        1    Escudo Valencia CF
106   Nicolas Jackson        1     Escudo Villarreal
107    Manu Trigueros        1     Escudo Villarreal

[108 rows x 3 columns]

In [127]:
tarjetas_rojas['Columna1'] = tarjetas_rojas['Columna1'].apply(unidecode)
merged_df = merged_df.merge(tarjetas_rojas, how='left', left_on='Data_Title', right_on='Columna1')

# Fill NaN values with 0 in the new column 'goles'
merged_df['tarejtas_rojas'] = merged_df['Columna2'].fillna(0).astype(int)

# Drop unnecessary columns
merged_df.drop(['Columna1', 'Columna2'], axis=1, inplace=True)
merged_df = merged_df.drop(['ColumnaImagen'], axis=1)

In [128]:
jugadores = merged_df.copy()

In [129]:
jugadores['Equipo'] = jugadores['Equipo'].replace('Español', 'Espanyol')

In [130]:
jugadores.head(100)

,Data_Number,Data_Title,Posicion,Equipo,goles,asistencias,goles_recibidos,paradas,tarejtas_amarillas,tarejtas_rojas
0,25,Diego Fuoli,Portero,Almeria,0,0,0,0,0,0
1,1,Diego Marino,Portero,Almeria,0,0,2,3,0,0
2,13,Fernando Martinez,Portero,Almeria,0,0,61,133,3,0
3,1,Giorgi Makaridze,Portero,Almeria,0,0,0,0,0,0
4,2,Aitor Bunuel,Defensa,Almeria,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
95,13,Jan Oblak,Portero,Atletico De Madrid,0,0,20,61,0,0
96,35,Sergio Mestre,Portero,Atletico De Madrid,0,0,0,0,0,0
97,45,Adrian Corral,Defensa,Atletico De Madrid,0,0,0,0,0,0
98,38,Fran Gonzalez,Defensa,Atletico De Madrid,0,0,0,0,0,0
99,47,Ibrahima Camara,Defensa,Atletico De Madrid,0,0,0,0,0,0

In [131]:
#jugadores.to_csv('jugadores.csv', index=False)