In [1]:
import pandas as pd

In [2]:
resultados = pd.read_csv('../datos/resultados.csv')

In [3]:
jugadores = pd.read_csv('../datos/jugadores.csv')

In [4]:
clasificacion=pd.read_csv('../datos/clasificacion.csv')

In [276]:
resultados.head()

,ID_partido,Jornada,fecha,Equipo_local,ID_equipo_local,Goles_del_Equipo_Local,Equipo_visitante,ID_equipo_visitante,Goles_del_Equipo_Visitante,Resultado_Local,Resultado_Visitante
0,1,1,2022-08-12,Osasuna,7,2,Sevilla,12,1,Ganado,Perdido
1,2,1,2022-08-13,Celta De Vigo,13,2,Espanyol,19,2,Empate,Empate
2,3,1,2022-08-13,Real Valladolid,18,0,Villarreal,5,3,Perdido,Ganado
3,4,1,2022-08-13,Barcelona,1,0,Rayo Vallecano,11,0,Empate,Empate
4,5,1,2022-08-14,Cadiz,14,0,Real Sociedad,4,1,Perdido,Ganado

In [275]:
resultados['ID_partido'] = range(1, len(resultados) + 1)

# Reorganiza las columnas para que 'ID_partido' sea la primera
column_order = ['ID_partido'] + [col for col in resultados if col != 'ID_partido']
resultados = resultados[column_order]

In [143]:
#jugadores = jugadores.drop('667', axis=1)

In [20]:
#nuevos_nombres = {'tarejtas_amarillas': 'tarjetas_amarillas', 'tarejtas_rojas': 'tarjetas_rojas'}
#jugadores = jugadores.rename(columns=nuevos_nombres)

In [271]:
#resultado_busqueda = jugadores[jugadores['Nombre_jugador'] == 'Fer Nino']
#resultado_busqueda

,Nombre_jugador,Dorsal,Posicion,Equipo,ID_equipo,goles_marcados,asistencias,goles_recibidos,paradas,tarjetas_amarillas,tarjetas_rojas
537,Fer Nino,26,Delantero,Mallorca,9,0,0,0,0,0,0
952,Fer Nino,34,Delantero,Villarreal,5,0,0,0,0,0,0

In [138]:
#jugadores.at[570, 'Nombre_jugador'] = 'Juan Cruz Alvaro'
#jugadores.at[667, 'Nombre_jugador'] = 'Juan Cruz Diaz'

In [228]:
#jugadores.at[423, 'goles_marcados'] = 1
#jugadores.at[626, 'asistencias'] = 5
#jugadores.at[667, 'tarjetas_amarillas'] = 0

# Cambiar el valor en el índice 971
#jugadores.at[971, 'goles_recibidos'] = 0
#jugadores.at[971, 'paradas'] = 0

In [272]:
#jugadores = jugadores.drop(952)
#jugadores = jugadores.drop(870)
#jugadores = jugadores.drop(840)
# Reiniciar el índice
#jugadores = jugadores.reset_index(drop=True)

In [5]:
#%pip install pymysql

In [6]:
from sqlalchemy import create_engine 

from password import password

In [9]:
str_conn = f'mysql+pymysql://root:{password}@localhost:3306/laligaanalitics'
engine = create_engine(str_conn)
engine.execute("USE laligaanalitics")

In [277]:
#clasificacion.to_sql('clasificacion',con=engine, if_exists='append', index=False)
#jugadores.to_sql('jugadores',con=engine, if_exists='append', index=False)
resultados.to_sql('resultados',con=engine, if_exists='append', index=False)

380